* {padding:0;margin:0;box-sizing: border-box;}

 body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  text-transform: uppercase;
 }
